<div id="contact-form">
    <form>
        <label for="contactName">Contact name</label>
        <input #contactName id="contactName" [(ngModel)]="contact.name" name="contactName" type="text" autocomplete="off"
            [ngClass]="{ 'has-error': submitting && invalidName() }"
            (focus)="clearStatus()"
            (keypress)="clearStatus()"        
        />
        <label for="contactEmail">Contact Email</label>
        <input id="contactEmail" [(ngModel)]="contact.email" name="contactEmail" type="text" autocomplete="off" 
            [ngClass]="{ 'has-error': submitting && invalidEmail() }"
            (focus)="clearStatus()"        
        />
        <p *ngIf="error && submitting" class="error-message">
            ❗ Please fill out all required fields
        </p>
        <p *ngIf="success" class="success-message">✅ Contact successfully added</p>        
        <button (click)="onAddContact()">Add Contact</button>
    </form>
</div>