/*
// ============================================================================
//    Author: Kenneth Perkins
//    Date:   Dec 13, 2021
//    Taken From: http://programmingnotes.org/
//    File:  contact-table.component.css
//    Description: Contact table css
// ============================================================================ 
*/
button {
    margin: 0 0.5rem 0 0;
}
input[type='text'] {
    background-color: white;
    width: 90%;
}
.muted-button {
    background: white;
}
.editing {
    background-color: #e0ffff !important;
}
.phone {
    width: 15%;
}
.email {
    width: 20%;
}