<!--
// ============================================================================
//    Author: Kenneth Perkins
//    Date:   Dec 13, 2021
//    Taken From: http://programmingnotes.org/
//    File:  contact-table.component.html
//    Description: Contact table html
// ============================================================================
-->
<div>
    <ng-template #noData>
        <p class="empty-table">No contacts</p>
    </ng-template>

    <ng-container *ngIf="contacts.length > 0; else noData">
        <table class="striped-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let contact of contacts; index as index" [ngClass]="getRowClasses(contact.id)">
                    <td>{{index + 1}}.</td>

                    <!-- Use a template to show editing mode rows vs not editing rows -->
                    <ng-container
                        *ngTemplateOutlet="isEditing(contact.id) ? editing: notEditing">
                    </ng-container>
                    <ng-template #editing>                        
                        <td> <input type="text" [(ngModel)]="contact.name" name="empName" autocomplete="off"/> </td>
                        <td> <input type="text" [(ngModel)]="contact.email" name="empEmail" autocomplete="off"/> </td>
                        <td>
                            <button (click)="onCancelEdit(contact)" class="muted-button" title="Cancel">❌</button> 
                            <button (click)="onEditContact(contact)" class="btn-success" title="Save">💾</button>
                        </td>
                    </ng-template>                       
                    <ng-template #notEditing>
                        <td>{{ contact.name }}</td>
                        <td>{{ contact.email }}</td>
                        <td>
                            <button (click)="onBeginEdit(contact)" title="Edit">📝</button>
                            <button (click)="onDeleteContact(contact)" class="btn-danger" title="Delete">🗑️</button>
                        </td>
                    </ng-template>                                    
                </tr>               
            </tbody>
          </table>
    </ng-container>
</div>